################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Onion_Todolist_Unknownnn/.vs/Onion_Todolist_Unknownnn/FileContentIndex
